/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #2a2a2a);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    padding: 2rem; /* Usando rem para maior flexibilidade */
    text-align: center;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

header {
    margin-bottom: 1.5rem; /* Usando rem */
}

header h1 {
    font-size: 2.5rem; /* Usando rem */
    margin-bottom: 1rem; /* Usando rem */
    color: #f5c518;
    text-transform: uppercase;
    letter-spacing: 0.1rem; /* Usando rem */
}

#subject-selection, #quiz-container, #result {
    margin-top: 1.5rem; /* Usando rem */
}

#subject-select {
    padding: 0.5rem; /* Usando rem */
    background-color: #1e1e1e;
    color: #f5c518;
    border: 1px solid #f5c518;
    border-radius: 0.3rem; /* Usando rem */
    font-size: 1rem; /* Usando rem */
    margin-top: 0.5rem; /* Usando rem */
}

button {
    padding: 0.5rem 1rem; /* Usando rem */
    margin-top: 1rem; /* Usando rem */
    background-color: #f5c518;
    color: #1e1e1e;
    border: none;
    cursor: pointer;
    font-size: 1rem; /* Usando rem */
    border-radius: 0.3rem; /* Usando rem */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5b518;
}

.hidden {
    display: none;
}

footer {
    margin-top: 2rem; /* Usando rem */
    padding: 0.5rem; /* Usando rem */
    background-color: #1e1e1e;
    color: #f5c518;
    font-size: 0.9rem; /* Usando rem */
    border-top: 1px solid #333;
}

footer a {
    color: #18b6f5;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem; /* Tamanho menor para telas pequenas */
    }

    .container {
        padding: 1rem; /* Menos preenchimento em telas pequenas */
    }

    button {
        width: 100%; /* Botões ocupam a largura total em telas menores */
    }

    #subject-select {
        width: 100%; /* Menu de seleção ocupa a largura total */
    }
}

label {
    cursor: pointer;
}
